* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  user-select: none;
}
bodyProfile {
  background-image: url("./skiing-powder.jpg");
  font-family: font-family;
  font-size: font-size;
  background-size: cover;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  height: 100vh;
}

.wrapperProfile {
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.applicationProfile {
  box-shadow: 0px 10px 50px -4px rgba(0, 0, 0, 0.58);
  border-radius: 2px;
  background: darken(#fff, 20);
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.applicationProfile:header {
  z-index: 3;
  height: 251px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.userProfile {
  margin-top: 16px;
  height: 164px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.avaProfile {
  border: 3px solid #1b2b50;
  /* background: url("") center center / cover no-repeat; */
  width: 118px;
  height: 118px;
  border-radius: 50%;
}
.nicknameProfile {
  color: whitesmoke;
  text-shadow: -2px 0 #1b2b50, 0 2px #1b2b50, 2px 0 #1b2b50, 0 -2px #1b2b50;
  font-size: 32px;
  font-weight: 400;
}

.buttonProfile {
  margin-top: 12px;
  background: #fff;
  border: 1px solid #1b2b50;
  border-radius: 4px;
  padding: 9px 16px;
  z-index: 30;
  width: 109px;
}
.labelProfile {
  color: #1b2b50;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.contentProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tabsProfile {
  width: 100%;
  height: 83px;
  background: #1b2b50;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.tabProfile {
  font-size: 22px;
  text-align: center;
  color: #fff;
  width: 33%;
  cursor: pointer;
}
.tabProfile:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.tabProfile:nth-child(3) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.labelProfile {
  color: #e0dc83;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}
.countProfile {
  font-size: 14px;
}

.friendsProfile {
  background: #fff;
  display: flex;
  flex-direction: row;
  padding: 16px;
  width: 100%;
}

.friend.moreProfile {
  display: block;
  font-size: 19px;
  width: 100%;
  padding: 20px;
  font-family: font-family;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #1b2b50;
  transition: 0.5s;
}
.friend.moreProfile:active {
  background: #27ae60;
}
friendProfile:nth-child(1) {
  background: url("") center center / cover no-repeat;
}
friendProfile:nth-child(2) {
  background: url("") center center / cover no-repeat;
}
friendProfile:nth-child(3) {
  background: url("") center center / cover no-repeat;
}
friendProfile:nth-child(4) {
  background: url("") center center / cover no-repeat;
}

.linkButtonProfile {
  display: block;
  font-size: 19px;
  width: 100%;
  padding: 20px;
  font-family: font-family;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #1b2b50;
  transition: 0.5s;
}
.linkButtonProfile:active {
  background: #27ae60;
}

@media all and (max-height: 450px) {
  .applicationProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
  }
  .headerProfile {
    height: 100%;
    justify-content: center;
  }
  .contentProfile {
    flex-direction: row;
    height: 100%;
  }
  .tabsProfile {
    flex-direction: column;
    width: auto;
    height: 100%;
    width: 100%;
    padding: 0 8px;
  }
  .tabProfile {
    width: 100%;
    padding: 4px;
  }
  .tabProfile:nth-child(2) {
    border-right: none;
    border-left: none;
  }
}
.friendsProfile {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.friendProfile {
  width: 40px;
  height: 40px;
  margin: 8px 0;
}

@media all and (max-width: 430px) {
  .applicationProfile {
    width: 100%;
  }
}
